body {
  background-color: #202632;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card h5 {
  color: #7cfcab;
  text-align: center;
  text-transform: uppercase;
}

.card p {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.card {
  position: relative;
  width: 320px;
  height: 220px;
  background-color: #313a49;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  margin: 20px 0;
}

button {
  cursor: pointer;
  position: absolute;
  left: 43.5%;
  top: 90%;
  background-color: #7cfcab;
  border: none;
  border-radius: 50%;
  padding: 12px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
.design {
  position: absolute;
  left: 0;
  right: 0;
  top: 77%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

span {
  width: 130px;
  height: 1px;
  background-color: rgb(255, 255, 255, 0.3);
  display: block;
}

.icon {
  color: #313a49;
  font-size: 24px;
}
